/* Réinitialisation des styles de base */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style du corps de la page */
body {
    font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #f0f0f0;
    color: #212529;
    line-height: 1.6;
    margin: 0;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(rgb(0 0 0 / 65%), rgb(129 129 129 / 65%)), url(../assets/img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.image{
    max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/* #image{
    border-radius: 10px;
} */
#bm{
    margin-top: -10px;
    margin-bottom: -40px;
}
@media screen and (max-width: 768px){
    body {
        /* min-height: 500px;
        width: 500px;  */
        background-size: center/cover;
        background-attachment: fixed;
        /* white-space: 100px; */
        /* margin-left: -40px;  */
        /* margin-right: -40px;  */
        float: none;
    }
    #ouvrir{
        display: block; /* ou display: inline-block; ou display: flex; selon vos besoins */
      }
}
/* Styles pour les écrans de grande taille (par exemple, les ordinateurs de bureau) */
@media screen and (min-width: 769px) {
    #ouvrir {
      display: none;
    }
  }
/* Style de l'en-tête */
header {
    background-color: #333333de;
    color: #f6e1c5;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Style de la navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    text-transform: uppercase !important;
    /* padding: 100px; */
    border-radius: 10px;
    /* background-color: #bdbdbd0a;
    border-color: #000000;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #e6a756; */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
#na{
        font-family: "Raleway", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 15px;
}
#nav{
    background-color: rgb(22 16 14 / 90%);
    /* font-family: "Raleway", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    padding: 8px;
}
#cours{
    color:#e6a756 ;
    text-decoration: underline;
    text-decoration-color: #e6a756;
}
nav a:hover{
    color: #dadada;
   
} 
nav a:active{
    color: #dadada;
}

/* Style du contenu principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 90px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* .section{
    max-width: 1000px;
    margin: 20px -50px;
    padding: 30px 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 95%);
} */
.sectiongegm{
    max-width: 1000px;
    margin: 20px -50px;
    padding: 30px 0px;
}
#gegm{
    max-width: 1000px;
    margin: 20px -50px;
    padding: 30px 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.95);
}
main h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-style: italic;
    text-shadow: -3px 4px 20px #00000045;
}
#classe{
    margin-top: -30px;
}
#bas{
    margin-top: 30px;
}
main p {
    font-size: 16px;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

/* Style du pied de page */
footer {
    background-color: #333333de;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Styles spécifiques pour chaque page (ajoutez des sélecteurs spécifiques ici) */
ul li{
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}
main ul li{
    margin: 30px;}
    ul li{
        display: inline-block;
    }
    .scroll-link{
        font-weight: bold;
        color:beige;
        list-style-type:none;
        background-color: #000000;
        border-radius: 25px;
        text-decoration-line: none;
        padding: 5px;
        text-align: center;
    }
    .scroll-link:hover{
        font-weight: bold;
        color:beige;
        list-style-type:none;
        background-color: #1d1d1d;
        border-radius: 25px;
        text-decoration-line: none;
        padding: 15px;
        transition: 0.25s;
    }
    #alaligne{
        white-space: nowrap;
        /* margin-left: -10px; */
    }
    h3{
        color: yellow;
        text-transform: uppercase;
        font-size: 25px;
        /* letter-spacing: 1px; */
        text-shadow: -3px 4px 20px #fffd8b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #000000;
        /* margin: 0 300px; */
}

ul li{
    display: inline-block;
}
#a{
    color: #836400;
    text-decoration-line: underline;
}
#a:hover{
    transition: 0.2s;
    color: hsla(40, 95%, 9%, 0.999);
}
#jr{
    color: #e6a756;
  }

  #h1{
    color: #000000;
    /* font-style: italic; */
    font-size: 35px;
    text-decoration: underline;
    margin-top: -50px;
  }

  .retour{
    text-decoration-line: none;
    font-size: 15px;
    color: #e6a756;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-family:  Courier, monospace;
    margin-top: 40px;
    margin-left: 270px;
    margin-bottom: -50px;
  }
  .retour:hover{
    background-color: #000000da;
  }

  h4{
    font-size: 30px;
    color: hwb(0 0% 100%);
    background-color:hwb(0deg 0% 100% / 9%) ;
    border: 10px;
    border-radius: 10px;
  }
  h1{
    margin-bottom: 10px;
  }
  #ouvrir{
    margin-top: 40px;
    margin-bottom: -20px;
  }

  #noir{
    color: #1b1b1b;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    
  }
  #button{
    background-color: #e6a756;
    margin-bottom: 50px;
    padding:17px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 7px;
  border-color: #e6a756;

  font-weight: 700;
    font-size: 0.8rem;
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  }

  #dropdown{
    display: block;
    top: 100%;
    /* left: 0; */
    margin-top: 0.125rem;
  }
  #ensaliste{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    text-transform: uppercase !important;
    /* padding: 100px; */
    border-radius: 10px;
    /* background-color: #bdbdbd0a;
    border-color: #000000;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #e6a756; */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  #site{
    font-size: 13px;
    text-align: center;
  }
  .bm{
    margin-left: 40px;
  }
  
  #color{
    color: red;
  }
  #color:hover{color: rgb(155, 0, 0);}